// $backgroundColor: #9e78a3;
$backgroundColor: mediumpurple;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: darken($backgroundColor, 40);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  header {
    background: darken($backgroundColor, 40);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
